.switch_container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 44px !important;
 height: 24px;
 
    .checkbox {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider::before {
            background-color: white;
        }

        &:checked+.slider {
            background-color: $color-primary;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #3a4b39;
        }

        &:checked+.slider:before {
            transform: translateX(18px);
        }
    }
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #E2E2E2;
 transition: .2s;
 border-radius: 25px;
 width: 44px !important;
}

.slider:before {
 position: absolute;
 content: "";
 height: 20px;
 width: 20px;
 border-radius: 25px;
 left: 3px;
 bottom: calc(( 100% - 20px ) / 2);
 background-color: white;
 transition: .4s;
}

.message{
    color: $color-gray-200;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

