$color-primary: #1E90FF;
$color-blue: #40B6E6;
$color-blue-100: #C1D8EE;

$color-green: #12A19A;
$color-green-100: #D1FAE5;
$color-green-200: #10B981;
$color-green-300: #065F46;
$color-green-100: rgba(18, 161, 154, 0.1);

$color-gray: #2E3D50;
$color-gray-100: #475569;
$color-gray-200: #8F8F8F;
$color-light-gray: #E2E2E2;
$color-light-gray-100: #F9F9F9;
$color-light-gray-200: #F0F0F0;

$color-red: #DC2B2B;
$color-red-100: rgba(220, 43, 43, 0.1);

// media queries
$mobile: 992px;
$desktop: 1200px;
$desktopHD: 1366px;
$desktopFHD: 1600px;