@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: white;
   font-family: "DM Sans", sans-serif;
}

// container
.container {
   max-width: 1216px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 16px;

   @media (min-width: $mobile) {
      padding: 0 24px;
   }
   @media (min-width: $desktopHD) {
      max-width: 1280px;
   }
}


// Typography
@font-face {
  font-family: 'milhaspix-icones';
  src:  url('/fonts/milhaspix-icones.eot?5hqyjc');
  src:  url('/fonts/milhaspix-icones.eot?5hqyjc#iefix') format('embedded-opentype'),
    url('/fonts/milhaspix-icones.ttf?5hqyjc') format('truetype'),
    url('/fonts/milhaspix-icones.woff?5hqyjc') format('woff'),
    url('/onts/milhaspix-icones.svg?5hqyjc#milhaspix-icones') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icones {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'milhaspix-icones' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icone-airplane-in-flight:before {
  content: "\e900";
}
.icone-arrow-left:before {
  content: "\e901";
}
.icone-arrow-right:before {
  content: "\e902";
}
.icone-arrows-counter-clockwise:before {
  content: "\e903";
}
.icone-chevron-bottom:before {
  content: "\e904";
}
.icone-chevron-dual:before {
  content: "\e905";
}
.icone-lock:before {
  content: "\e906";
}
.icone-plus:before {
  content: "\e907";
}
.icone-search:before {
  content: "\e908";
}
.icone-user-circle:before {
  content: "\e909";
}

// utility classes
.c-azul{
   color: $color-primary;
}
.c-azul-claro{
   color: #40B6E6;
}
.c-verde{
   color: #12A19A;
}
.c-laranja{
   color: #F57921;
}

.button-plus{
  background-color: transparent;
  padding: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 54%;
  transform: translateY(-50%);

  .icones{
    font-size: 20px;
    font-weight: 500;
    color: $color-primary;
  }

  .imagem-minus{
    width: 18px;
  }
}

.table.table-offers{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #121212;
    padding-bottom: 12px;
    
     .table-header-group {
        .table-cell{
            font-size: 14px;
            font-weight: 700;
            line-height: 100%;
            text-align: center;
            border-bottom: 1 solid #D9D9D9;
            padding: 12px 0;
        }
     }

     .table-row-group{
        .table-cell{
           text-align: center;
           padding: 12px 20px;
           font-size: 12px;
           font-weight: 500;
           line-height: 100%;
           vertical-align: middle;

           &:first-child{
             text-align: left;
           }
        }
     }

     .programa_container{
        display: inline-flex;
        align-items: center;
        gap: 8px;

        .logo_container{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            .logo{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .programa{
          display: flex;
          flex-direction: column;
          gap: 2px;
          text-align: left;

            &_titulo{
              font-size: 16px;
              font-weight: bold;
              line-height: 100%;
              
              &.laranja{
                color: #F57921;
              }
              &.azul{
                color: #40B6E6;
              }
            }
            &_tipo{
              font-size: 12px;
              font-weight: 500;
              line-height: 100%;
              margin-bottom: 0;
              color: #121212;
            }
        }
     }

     .message{
      font-size: 16px !important;
      color: $color-red;

        &.c-azul{
          color: $color-primary !important;
        }
     }
}
.table-container{
    border: 1px solid #D9D9D9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.warning-green{
    font-size: 14px;
    text-align: center;

     @media (min-width: 1280px) {
          background-color: rgba(8, 142, 135, 0.1);
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
     }
}
.programa-fidelidade-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 44px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 16px;

    &_title{
      color: $color-gray;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      align-items: center;
      gap: 11px;
    }

    &_logo{
      width: 43px;
    } 
    .icones{
      font-size: 20px;
      font-weight: 500;
      color: $color-primary;
    }
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgb(255,255,255,.2);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}



.fade-in {
  opacity: 0;
  animation: fadeIn 400ms ease-in-out forwards;
  animation-delay: 0.5s; 
}

@keyframes fadeIn {
  from { opacity: 0; } 
  to   { opacity: 1; }
}