.header{
    padding: 12px 0;
    background: $color-primary;
    margin-bottom: 16px;

    @media (min-width: $mobile) {
        margin-bottom: 32px;
    }

    &_logo{
        width: 128px;
    }
    &_value{
        background-color: transparent;
        padding: 6px 16px;
        border-radius: 25px;
        border:  1px solid #CAE6FB;
        color: #EAEAEA;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
}